<head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<article class="corruption-notes">
<div class="section-titles">Corruption</div>
<div class="editor">
  

  <div class="line">
    <label>1er</label>
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <label>Mineure</label>
  </div>
  <div class="line">
    <label>2e</label>
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <label>Sérieuse</label>
  </div>
  <div class="line">
    <label>3e</label>
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <label>Grave</label>
  </div>
  <div class="line">
    <label>4e</label>
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <input type="checkbox" data-state="unchecked">
    <label>Critique</label>
  </div>
</div>
</article>

<script>
$(document).ready(function() {
  $('input[type="checkbox"]').click(function() {
    var state = $(this).attr('data-state');

    if (state === 'unchecked') {
      $(this).attr('data-state', 'checkedOnce');
      $(this).prop('indeterminate', true);
      $(this).prop('checked', true);
      //$(this).css('background-color', 'black'); /* Set fill color to purple */
    } else if (state === 'checkedOnce') {
      $(this).attr('data-state', 'checkedTwice');
      //$(this).css('background-color', 'purple'); /* Set fill color to black */
    } else if (state === 'checkedTwice') {
      $(this).attr('data-state', 'unchecked');
      $(this).prop('indeterminate', false);
      $(this).prop('checked', false);
     // $(this).css('background-color', ''); /* Set fill color to gray */
    }
  });
});
</script>

